
h1 {
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-size: 3rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    line-height: 3.5rem;
    letter-spacing: .5rem;
    text-shadow: .2rem .2rem .5rem rgb(128, 116, 116);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    margin: 2em;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 2.75rem;

}

main {
    margin: 1em;
    padding: 1em;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: repeat(Auto-Fit, minmax(300px, 340px));
    justify-content: center; */
}

header h1 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rosybrown;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3s steps(60, end) ,
        blink-caret 0.75s step-end 0s 20 forwards;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 15ch
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: rosybrown;
    }

    100% {
        border-color: transparent;
    }
}

@media(max-width: 1450px) {
    main {
        padding: 0.5em;
        margin: 0.5em;
    }
}

@media(max-width: 1400px) {
    main {
        padding: 0.2em;
        margin: 0.2em;
    }
}

@media(max-width: 1350px) {
    main {
        padding: 0em;
        margin: 0em;
    }
}

@media(max-width: 1267px) {
    main {
        grid-template-columns: repeat(3, 1fr);
        margin: 1em;
        padding: 1em;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        letter-spacing: .4rem;
    }
}

@media(max-width: 1170px) {
    main {
        margin: 0.5em;
        padding: .5em;
    }
}

@media(max-width: 1070px) {
    main {
        margin: 0.2em;
        padding: .2em;
    }
}

@media(max-width: 1002px) {
    main {
        grid-template-columns: repeat(2, 1fr);
        margin: 1em;
        padding: 1em;
    }

    h1 {
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: .3rem;
    }

    header p {
        font-size: .5rem;
    }
}

@media(max-width: 800px) {
    main {
        margin: 0.5em;
        padding: 0.5em;
    }
}

@media(max-width: 750px) {
    .container {
        margin: 1em;
    }
}

@media(max-width: 700px) {
    main {
        margin: 0em;
        padding: 0em;
    }
}

@media(max-width: 550px) {
    main {
        grid-template-columns: repeat(1, 1fr);
        margin: 1em;
        padding: 1em;
    }

    h1 {
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: .2rem;
    }

    .container {
        margin: 2em;
    }

    header p {
        font-size: .05rem;
    }
}

@media(max-width: 500px) {
    .container {
        margin: 1em;
    }
}

@media(max-width: 450px) {
    main {
        margin: 0.5em;
        padding: 0.5em;
    }
}

@media(max-width: 400px) {
    main {
        margin: 0em;
        padding: 0em;
    }
}

@media(max-width: 350px) {
    .imgcontainer img {
        object-fit: cover;
        object-position: center;
        position: relative;
    }

}

header p {
    max-width: 768px;
    text-align: center;
    font-size: large;
}

.cardcontainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid rgb(112, 106, 106);
    overflow: none;
    position: relative;
    border-radius: 1rem;
    height: 100%;
}

.cardcontainer:hover .imgcontainer img {
    transform: scale(1.1);
    transition-duration: .2s;
}

.imgcontainer {
    position: relative;
    overflow: none;
    height: 19rem;
}

.imgcontainer img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 100%;
    width: 100%;
}

.cardcontent {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    gap: .2rem;
}

.cardtitle {
    font-size: 1rem;
    color: black;
    font-weight: 700;
}

.cardtitle:hover {
    transform: scale(1.02);
    color: blue;
    transition-duration: .2s;
}

.carddesc {
    max-width: 20rem;
}

.cardfooter {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: .75rem;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.info img {
    height: 75%;
    width: 25%;
    border-radius: 2rem;
    align-self: center;
}

.author {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: .2rem;
    font-size: 1rem;
}

.author span:nth-child(1) {
    color: rgb(22, 22, 154);
}

.author span:nth-child(2) {
    color: rgb(114, 112, 112);
}

.tag {
    align-self: center;
}

.tag button {
    background-color: white;
    border: 1px solid black;
    border-radius: .2rem;
    box-shadow: 1.2px 1.2px blue;
}

.tag button:hover {
    transform: scale(1.1);
    transition-duration: .2s;
}

.tag button a {
    padding: 0.75rem;
    font-size: 1rem;
    color: rgb(88, 19, 152);
}
